html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

header {
    background-color: black;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 60px;
    margin-left: 50px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-right: 50px;
}